body{
  background-color: #ffffff;
  margin: 10px 200px;
}
.navbar{
  display: flex;
  background-color: #ffffff;
  Justify-content: center;
  align-items: center;
  align-self: top;
  gap: 40px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.logo{
  height: 80px;
}
#searchbar{
  padding: 15px;
  width: 55%;
  border-radius: 10px;
  border: none;
  box-shadow: -1px 1px 3px grey;
  font-size: 1rem;
}
#searchbtn{
  padding: 15px;
  width: 6rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: whitesmoke;
  background-color: #fc8181;
  box-shadow: -1px 1px 3px grey;
  font-size: 1rem;
}
.login{
  text-decoration: none;
  color: grey;
  font-size: 1.05rem;
}
.firstorder{
  background-color: #f8f8f8;
  padding-top: 25px;
  padding-bottom: 50px;
}
.topbrand{
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 50px;
}
.foods{
  display: block;
  gap: 40px;
  justify-content: center;
}
.stripimg{
  display: block;
  border-radius: 50%;
  height: 20vh;
}
.foodtype{
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}
.foodtype h4{
  text-align: center;
}
.brandtype{
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}
.brandtype h4{
  text-align: center;
  width: 9em;
}
h1{
  text-align: center;
}
.navbar a{
  width: 70px;
}
#filterbtn{
  padding: 5px;
  background-color: #f8f8f8;
  width: 5em;
  margin: 25px 0px;
  cursor: pointer;
  border-width: thin;
  border-radius: 5px;
}
#filterbtn:hover{
  background-color: lightgrey;
}
.footer{
  width: 100%;
  background-color: #f8f8f8;
}
.blocks{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.listitems{
  list-style: none;
  padding-inline-start: 0px;
}
li{
  padding: 2px 0px;
}
.fa{
  background-color: black;
  border-radius: 50%;
  color: white;
  padding: 7px;
}
