body{
  background-color: #ffffff;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px
}
#logo{
  height: 80px;
}
#searchbar{
  padding: 15px;;
  width: 50%;
  border-radius: 10px;
  border: none;
  box-shadow: -1px 1px 3px grey;
  font-size: 1rem;
}
#searchbtn{
  padding: 15px;
  width: 6rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: whitesmoke;
  background-color: #fc8181;
  box-shadow: -1px 1px 3px grey;
  font-size: 1rem;
}
.login{
  text-decoration: none;
  color: grey;
  font-size: 1.05rem;
}
.firstorder{
  background-color: #f8f8f8;
  padding-top: 25px;
  padding-bottom: 50px;
}
.topbrand{
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 50px;
}
.foods{
  display: flex;
  gap: 40px;
  justify-content: center;
}
.stripimg{
  border-radius: 50%;
  height: 20vh;
}
.foodlabel{
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 8px;
  font-size: 1em;
}
.brandlabel{
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 8px;
  font-size: 1em;
}
h1{
  text-align: center;
}